.rated_box_wrapper{
  position: relative;
  display: flex;
}

.rated_box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.rated_box::-webkit-scrollbar {
  display: none;
}

.rated_box > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 220px;
  display: flex;
  flex-direction: column;
}

.top_rated{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.rated_box > div:first-of-type {
  margin-left: 0;
}


.wrapper_rated_box{
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
  gap: 30px;
}

.image{
  -webkit-mask-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  mask-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  border-radius: 5px;
}
.image:hover{
  -webkit-mask-image: none;
  mask-image: none;
}

.title{
  font-weight:bolder;
  font-size: 16px;
}
.description{
  list-style: none;
}

.elements{
  display: flex;
  justify-content: center;
  font-weight:300;
  font-size: 13px;
  gap: 10px;
}

.elements_left{
  display: flex;
  width: 100%;
  gap: 10px;
}

.vote{
  display: flex;
  align-items:flex-end;
}

.bookmark{
  background-color: var(--button-color);
  position: absolute;
  border-radius: 66px;
  width: 25px;
  height: 25px;
  right: 20px;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.resultsSection{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}