
.customGPlusSignIn {
  display: inline-block;
  background-color: white;
  width: -webkit-fill-available;
  border-radius: 5px;
  border: thin solid #888;
  box-shadow: 1px 1px 1px grey;
  white-space: nowrap;
  padding: 8px;
  gap: 24px;
  text-align: left;
  display: flex;
  align-items: flex-end;
}

.customGPlusSignIn:hover {
  cursor: pointer;
}

.icon {
  background: url("/identity/sign-in/g-normal.png") transparent 5px 50%
    no-repeat;
  display: inline-block;
  vertical-align: middle;
 
}
.buttonText {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  color: #444;
  /* Use the Roboto font that is loaded in the <head> */
  font-family: "Roboto", sans-serif;
  display: flex;

}
