.starRating {
  display: flex;
  align-items: center;
}

.emptyStars,
.fullStars {
  display: flex;
  position: relative;
}

.star {
  display: block;
  width: 20px;
  height: 20px;
  background-size: contain;
}

.empty {
  opacity: 0.5;
}

.full {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  overflow: hidden;
  z-index: 1;
  background-color: yellow;
}

.rating {
  margin-left: 10px;
  font-size: 16px;
  font-weight: bold;
}
.filled{
  color: yellow;
}